html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* font-family: 'Lobster Two', sans-serif; */
  /* font-family: 'Dancing Script', cursive; */
  /* font-family: 'Urbanist', sans-serif; */
  font-family: 'Poppins', sans-serif;
  /* background: linear-gradient(to right, #030816, #061838, #051737, #030816); */
  /* background:  conic-gradient(at right bottom, rgb(29, 78, 216), rgb(17, 33, 88), rgb(17, 24, 39)); */
  /* background: conic-gradient(at center bottom, rgb(15, 23, 42), rgb(88, 28, 135), rgb(15, 23, 42)); */
  /* background: conic-gradient(at center bottom, rgb(15, 23, 42), rgb(8,27,41), rgb(15, 23, 42)); */
  /* background: radial-gradient(at left top, rgb(15, 23, 42), rgb(8,27,41), rgb(15, 23, 42)); */
  /* background: #081b29; */
  background: #000000;
}

.logo{
  font-family: 'Lobster Two', sans-serif;
}

/* Animasi Home */
  @keyframes changeText {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fade-in-out {
    animation: changeText 4s linear infinite;
  }
/*  */

/* Hover Navbar */
  .afterAccess{
    position: relative;
    border-radius: 2px;
    border-bottom: 2px solid transparent;
    border-color: #FFFFFF;
  }

  .beforeAccess {
    text-decoration: overline; /* Atur overline di atas tulisan */
    text-decoration-color: transparent; /* Atur warna text-decoration menjadi transparan */
    position: relative;
  }
  
  .beforeAccess::after {
    content: '';
    position: absolute;
    bottom: -0.2em; 
    left: 50%;
    width: 0;
    border-bottom: 2px solid transparent;
    transition: width 0.3s ease, transform 0.5s ease;
    transform: translateX(-50%);
  }
  
  .beforeAccess:hover::after {
    width: 80%;
    border-color: #72c1e8;
    transform: translateX(-50%) ;
  }


  .cardPortof{
    width: 27rem;
    overflow: hidden;
    position: relative;
    transition: box-shadow 0.3s ease-in-out;
  }

  .cardPortof:hover{
    /* box-shadow: -10px 8px 12px rgb(255, 6, 197); */
  }

  .captionPortof {
    position: absolute;
    bottom: 0px;
    text-align: end;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }

  .cardPortof:hover .captionPortof {
    opacity: 0.8;
    background: conic-gradient(at right top, rgb(55, 65, 81), rgb(12, 36, 70), rgb(0, 0, 0))
  }

.textCaption{
  position: absolute;
  bottom: 0px;
  left: 20px;
  transition: bottom 0.5s ease-in-out, left 0.3s ease-in-out;
}
  
.cardPortof:hover .captionPortof .textCaption {
  bottom: 100px;
  left: 50px;
}
